$green: #C5CF9C;
$lila: #807c8e;
$grey: #D7D7D7;

@import "bootstrap";
@import "font_awesome";
@import "animation";

@import "header";
@import "footer";

body {
    margin: 0;
    background: $grey;
}

.wrap {
    position: relative;
    z-index: 1;
    background: $grey;
}
.wrap .row{
    background:mix($grey, #fff, 60%);
}
main{
    background:mix($grey, #fff, 80%);
}

img.me{
    width:100px;
    height:100px;
    border: 3px solid rgba(215, 215, 215, 0.7);
    box-shadow: 0 0 1px 1px #807c8e;
    border-radius:50px;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
}
img.me:hover{
    animation-name: buzz;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.pager li > a, .pager li > span{
  border-radius:0px;
}

aside ul{
    border:1px solid red;
}
aside ul, aside li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
aside ul span{
    display: none;
}

$duration: 1s;

aside ul{
    width:20px;
    height:100px;
    transition: all $duration ease-in-out;    
    background: blue;
    position:relative;
    left:50%;
    margin-left:-10px;
    transform: rotate(-90deg);    
}

aside ul:hover{
    left:0%;
    margin-left:0px;
    transform: rotate(0deg);    
}

aside ul i{
    transition: all $duration ease-in-out;    
    background:red;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    transform: rotate(90deg);    
}
aside ul:hover i{
    transform: rotate(0deg);    
}
