<p>Hi, mein Name ist Bastian Pertz.<br>
Ich bin Webentwickler und leben und arbeite in Wuppertal.</p>

<p>
Tagsüber mache ich in PHP; wenn die Sonne untergeht, dann schreibe ich am Liebsten Javasript: <em>Traditionell</em> oder als NodeJs.
</p>